
[*]
charset=utf-8
end_of_line=lf
trim_trailing_whitespace=false
insert_final_newline=false
indent_style=space
indent_size=4

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_style_var_elsewhere=true:suggestion
csharp_style_var_for_built_in_types=true:suggestion
csharp_style_var_when_type_is_apparent=true:suggestion
dotnet_diagnostic.ca1001.severity=warning
dotnet_diagnostic.ca1016.severity=warning
dotnet_diagnostic.ca1061.severity=warning
dotnet_diagnostic.ca1401.severity=warning
dotnet_diagnostic.ca1821.severity=warning
dotnet_diagnostic.ca2101.severity=warning
dotnet_diagnostic.ca2229.severity=warning
dotnet_diagnostic.ca2231.severity=warning
dotnet_diagnostic.ca2241.severity=warning
dotnet_diagnostic.ca2242.severity=warning
dotnet_diagnostic.s1168.severity=none
dotnet_diagnostic.s2346.severity=none
dotnet_diagnostic.s2743.severity=none
dotnet_diagnostic.s3963.severity=none
dotnet_diagnostic.sa1003.severity=none
dotnet_diagnostic.sa1009.severity=none
dotnet_diagnostic.sa1011.severity=none
dotnet_diagnostic.sa1012.severity=none
dotnet_diagnostic.sa1013.severity=none
dotnet_diagnostic.sa1026.severity=none
dotnet_diagnostic.sa1027.severity=none
dotnet_diagnostic.sa1028.severity=none
dotnet_diagnostic.sa1101.severity=none
dotnet_diagnostic.sa1118.severity=none
dotnet_diagnostic.sa1124.severity=none
dotnet_diagnostic.sa1127.severity=none
dotnet_diagnostic.sa1201.severity=none
dotnet_diagnostic.sa1202.severity=none
dotnet_diagnostic.sa1204.severity=none
dotnet_diagnostic.sa1300.severity=none
dotnet_diagnostic.sa1309.severity=none
dotnet_diagnostic.sa1310.severity=none
dotnet_diagnostic.sa1313.severity=none
dotnet_diagnostic.sa1413.severity=none
dotnet_diagnostic.sa1501.severity=none
dotnet_diagnostic.sa1503.severity=none
dotnet_diagnostic.sa1513.severity=none
dotnet_diagnostic.sa1516.severity=none
dotnet_diagnostic.sa1520.severity=none
dotnet_diagnostic.sa1600.severity=none
dotnet_diagnostic.sa1602.severity=none
dotnet_diagnostic.sa1633.severity=none
dotnet_diagnostic.sa1636.severity=none
dotnet_naming_rule.constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.constants_rule.severity=warning
dotnet_naming_rule.constants_rule.style=all_upper_style
dotnet_naming_rule.constants_rule.symbols=constants_symbols
dotnet_naming_rule.local_functions_rule.import_to_resharper=as_predefined
dotnet_naming_rule.local_functions_rule.severity=warning
dotnet_naming_rule.local_functions_rule.style=lower_camel_case_style
dotnet_naming_rule.local_functions_rule.symbols=local_functions_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_constants_rule.severity=warning
dotnet_naming_rule.private_constants_rule.style=all_upper_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_constants_rule_1.import_to_resharper=True
dotnet_naming_rule.private_constants_rule_1.resharper_description=PrivateConstants
dotnet_naming_rule.private_constants_rule_1.resharper_guid=83db5626-9b7a-4c1f-9a1a-8d502558dee5
dotnet_naming_rule.private_constants_rule_1.severity=warning
dotnet_naming_rule.private_constants_rule_1.style=all_upper_style
dotnet_naming_rule.private_constants_rule_1.symbols=private_constants_symbols_1
dotnet_naming_rule.private_instance_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_instance_fields_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule.style=lower_camel_case_style_1
dotnet_naming_rule.private_instance_fields_rule.symbols=private_instance_fields_symbols
dotnet_naming_rule.private_instance_fields_rule_rule.import_to_resharper=True
dotnet_naming_rule.private_instance_fields_rule_rule.resharper_description=private_instance_fields_rule
dotnet_naming_rule.private_instance_fields_rule_rule.resharper_guid=10949bbd-131d-4a0e-81a8-cff5fe091d22
dotnet_naming_rule.private_instance_fields_rule_rule.severity=warning
dotnet_naming_rule.private_instance_fields_rule_rule.style=lower_camel_case_style_1
dotnet_naming_rule.private_instance_fields_rule_rule.symbols=private_instance_fields_rule_symbols
dotnet_naming_rule.private_static_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_fields_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule.style=lower_camel_case_style_1
dotnet_naming_rule.private_static_fields_rule.symbols=private_static_fields_symbols
dotnet_naming_rule.private_static_fields_rule_rule.import_to_resharper=True
dotnet_naming_rule.private_static_fields_rule_rule.resharper_description=private_static_fields_rule
dotnet_naming_rule.private_static_fields_rule_rule.resharper_guid=6609eaae-5e8a-45a4-89e9-da13c5a0cf3c
dotnet_naming_rule.private_static_fields_rule_rule.severity=warning
dotnet_naming_rule.private_static_fields_rule_rule.style=lower_camel_case_style_1
dotnet_naming_rule.private_static_fields_rule_rule.symbols=private_static_fields_rule_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity=warning
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_underscore_tolerant_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_rule.public_fields_rule.import_to_resharper=as_predefined
dotnet_naming_rule.public_fields_rule.severity=warning
dotnet_naming_rule.public_fields_rule.style=upper_camel_case_style
dotnet_naming_rule.public_fields_rule.symbols=public_fields_symbols
dotnet_naming_rule.public_fields_rule_rule.import_to_resharper=True
dotnet_naming_rule.public_fields_rule_rule.resharper_description=public_fields_rule
dotnet_naming_rule.public_fields_rule_rule.resharper_guid=238c3719-1fd1-45c5-b348-611f04fb45c8
dotnet_naming_rule.public_fields_rule_rule.severity=warning
dotnet_naming_rule.public_fields_rule_rule.style=upper_camel_case_style
dotnet_naming_rule.public_fields_rule_rule.symbols=public_fields_rule_symbols
dotnet_naming_rule.public_fields_static_rule.import_to_resharper=True
dotnet_naming_rule.public_fields_static_rule.resharper_description=PublicFieldsStatic
dotnet_naming_rule.public_fields_static_rule.resharper_guid=852a4e47-25bb-4d16-9178-f87d42495b4b
dotnet_naming_rule.public_fields_static_rule.severity=warning
dotnet_naming_rule.public_fields_static_rule.style=upper_camel_case_style
dotnet_naming_rule.public_fields_static_rule.symbols=public_fields_static_symbols
dotnet_naming_rule.static_readonly_rule.import_to_resharper=as_predefined
dotnet_naming_rule.static_readonly_rule.severity=warning
dotnet_naming_rule.static_readonly_rule.style=upper_camel_case_style
dotnet_naming_rule.static_readonly_rule.symbols=static_readonly_symbols
dotnet_naming_style.all_upper_style.capitalization=all_upper
dotnet_naming_style.all_upper_style.word_separator=_
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix=_
dotnet_naming_style.lower_camel_case_underscore_tolerant_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_underscore_tolerant_style.required_prefix=_
dotnet_naming_style.lower_camel_case_underscore_tolerant_style.word_separator=_
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.constants_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds=field
dotnet_naming_symbols.constants_symbols.required_modifiers=const
dotnet_naming_symbols.local_functions_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_functions_symbols.applicable_kinds=local_function
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols_1.applicable_accessibilities=local,private
dotnet_naming_symbols.private_constants_symbols_1.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols_1.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols_1.resharper_applicable_kinds=constant_field
dotnet_naming_symbols.private_constants_symbols_1.resharper_required_modifiers=any
dotnet_naming_symbols.private_instance_fields_rule_symbols.applicable_accessibilities=local,private
dotnet_naming_symbols.private_instance_fields_rule_symbols.applicable_kinds=field
dotnet_naming_symbols.private_instance_fields_rule_symbols.resharper_applicable_kinds=field,readonly_field,constant_field
dotnet_naming_symbols.private_instance_fields_rule_symbols.resharper_required_modifiers=any
dotnet_naming_symbols.private_instance_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_instance_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_rule_symbols.applicable_accessibilities=local,private
dotnet_naming_symbols.private_static_fields_rule_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_rule_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_fields_rule_symbols.resharper_applicable_kinds=field,readonly_field,constant_field
dotnet_naming_symbols.private_static_fields_rule_symbols.resharper_required_modifiers=static
dotnet_naming_symbols.private_static_fields_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_fields_symbols.required_modifiers=static
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_naming_symbols.public_fields_rule_symbols.applicable_accessibilities=local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_rule_symbols.applicable_kinds=field
dotnet_naming_symbols.public_fields_rule_symbols.resharper_applicable_kinds=field,readonly_field,constant_field
dotnet_naming_symbols.public_fields_rule_symbols.resharper_required_modifiers=any
dotnet_naming_symbols.public_fields_static_symbols.applicable_accessibilities=local,public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_static_symbols.applicable_kinds=field
dotnet_naming_symbols.public_fields_static_symbols.required_modifiers=static
dotnet_naming_symbols.public_fields_static_symbols.resharper_applicable_kinds=field
dotnet_naming_symbols.public_fields_static_symbols.resharper_required_modifiers=static
dotnet_naming_symbols.public_fields_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.public_fields_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.applicable_accessibilities=public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion
dotnet_diagnostic.cs1591.severity=none

# ReSharper properties
resharper_align_multiline_binary_expressions_chain=false
resharper_align_multiline_extends_list=true
resharper_apply_auto_detected_rules=false
resharper_autodetect_indent_settings=true
resharper_csharp_alignment_tab_fill_style=use_tabs_only
resharper_csharp_indent_style=tab
resharper_csharp_int_align_comments=true
resharper_csharp_naming_rule.constants=AA_BB
resharper_csharp_naming_rule.enum_member=AA_BB
resharper_csharp_naming_rule.private_constants=AA_BB
resharper_csharp_naming_rule.private_instance_fields=_ + aaBb
resharper_csharp_naming_rule.private_static_fields=_ + aaBb
resharper_csharp_naming_rule.private_static_readonly=_ + aaBb_AaBb
resharper_csharp_naming_rule.public_fields=AaBb
resharper_csharp_naming_rule.static_readonly=AaBb
resharper_csharp_outdent_dots=false
resharper_csharp_stick_comment=false
resharper_csharp_use_indent_from_previous_element=false
resharper_csharp_wrap_arguments_style=chop_if_long
resharper_csharp_wrap_before_binary_opsign=true
resharper_csharp_wrap_extends_list_style=chop_if_long
resharper_csharp_wrap_lines=false
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_csharp_wrap_parameters_style=chop_if_long
resharper_enforce_line_ending_style=true
resharper_indent_preprocessor_if=usual_indent
resharper_indent_preprocessor_other=usual_indent
resharper_int_align_switch_expressions=true
resharper_int_align_switch_sections=true
resharper_keep_existing_declaration_block_arrangement=true
resharper_keep_existing_embedded_arrangement=true
resharper_keep_existing_expr_member_arrangement=false
resharper_keep_existing_switch_expression_arrangement=false
resharper_local_function_body=expression_body
resharper_max_array_initializer_elements_on_line=5
resharper_max_enum_members_on_line=1
resharper_max_formal_parameters_on_line=6
resharper_max_initializer_elements_on_line=1
resharper_max_invocation_arguments_on_line=6
resharper_nested_ternary_style=expanded
resharper_new_line_before_while=true
resharper_outdent_dots=false
resharper_parentheses_redundancy_style=remove
resharper_place_attribute_on_same_line=false
resharper_place_expr_accessor_on_single_line=true
resharper_place_expr_method_on_single_line=true
resharper_place_expr_property_on_single_line=true
resharper_place_simple_accessor_on_single_line=false
resharper_place_simple_anonymousmethod_on_single_line=false
resharper_place_simple_case_statement_on_same_line=true
resharper_place_simple_embedded_statement_on_same_line=false
resharper_place_simple_enum_on_single_line=true
resharper_place_simple_initializer_on_single_line=false
resharper_qualified_using_at_nested_scope=true
resharper_use_indent_from_vs=false
resharper_wrap_after_declaration_lpar=true
resharper_wrap_array_initializer_style=chop_always
resharper_wrap_before_extends_colon=true
resharper_wrap_before_first_type_parameter_constraint=true
resharper_wrap_before_linq_expression=true
resharper_wrap_before_type_parameter_langle=true
resharper_wrap_chained_binary_expressions=chop_if_long
resharper_wrap_chained_method_calls=wrap_if_long
resharper_wrap_linq_expressions=chop_always
resharper_wrap_object_and_collection_initializer_style=chop_always
resharper_wrap_verbatim_interpolated_strings=chop_if_long

# ReSharper inspection severities
resharper_access_to_disposed_closure_highlighting=hint
resharper_arrange_accessor_owner_body_highlighting=hint
resharper_arrange_attributes_highlighting=suggestion
resharper_arrange_constructor_or_destructor_body_highlighting=suggestion
resharper_arrange_local_function_body_highlighting=suggestion
resharper_arrange_method_or_operator_body_highlighting=suggestion
resharper_arrange_object_creation_when_type_not_evident_highlighting=none
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_convert_to_constant_local_highlighting=warning
resharper_field_can_be_made_read_only_local_highlighting=warning
resharper_mvc_view_not_resolved_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_web_config_module_not_resolved_highlighting=warning
resharper_web_config_type_not_resolved_highlighting=warning
resharper_web_config_wrong_module_highlighting=warning

[{StyleCop.Cache,*.jhm,*.appxmanifest,*.cscfg,*.manifest,*.jrxml,*.xib,*.rng,*.nuspec,*.wadcfgx,*.axml,*.wsdl,*.webref,*.plist,*.fxml,*.aar,*.myapp,*.svcmap,*.xslt,*.filelayout,*.storyboard,*.ant,*.xul,*.tps,*.xsl,*.xsd,*.stylecop,*.settings,*.jnlp,*.csdef,*.disco,*.tld,*.xml}]
indent_style=tab
tab_width=4

[*.config]
indent_style=tab
tab_width=4

[*.ruleset]
indent_style=tab
tab_width=4

[{*.targets,*.overridetasks,*.tasks}]
indent_style=tab
tab_width=4

[{*.csproj,*.ccproj,*.androidproj}]
indent_style=tab
tab_width=4

[{.eslintrc,.stylelintrc,jest.config,.babelrc,bowerrc,*.jsb3,*.jsb2,*.json}]
indent_style=tab
tab_width=4

[*.props]
indent_style=tab
tab_width=4

[*.cs]
indent_style=tab
indent_size=tab
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,build,cshtml,dtd,master,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,asax,ascx,aspx,axaml,build,cg,cginc,compute,cs,cshtml,dtd,hlsl,hlsli,hlslinc,master,nuspec,paml,razor,resw,resx,skin,usf,ush,vb,xaml,xamlx,xoml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4
